/* ========================================== 
 Layout
============================================*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,600,700);

html{
  font-family: "Open Sans", sans-serif, Helvetica Neue, Helvetica, Arial;
  font-size: 14px;
}
body  {
  margin: 0px;
}
.container {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ========================================== 
 Navbar
============================================*/
.navbar {
  background: #F3F4F5;
  padding-top: 20px;
}
.navbar-logo {
  width: 120px;
  display: block;
  margin: auto;
  margin-bottom: 30px;
}
.navbar ul {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
}
.navbar ul li {
  display: inline-block;
  margin-right: 20px;
  padding-bottom: 10px;
}
.nav-link {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
}
.nav-link:hover {
  color: #42b549;
}
@media (min-width: 768px) {
  .navbar-logo {
    width: 180px;
  }
  .navbar ul {
    text-align: left;
  }
}

/* ========================================== 
 Pokemon List
============================================*/
.pokemon-list-container {
  padding: 20px 10px 10px;
  border: 2px solid rgb(3,172,14);
  border-radius: 8px;
}
.pokemon-list, .my-pokemon-list {
  position: relative;
  padding: 10px;
  border: 2px solid rgb(3,172,14);
  border-radius: 8px;
  display: inline-block;
  margin: 0px 10px 10px;
  text-decoration: none;
  color: #2d2b2c;
}
.pokemon-list:hover, .my-pokemon-list {
  background: rgb(3,172,14);
  color: #fff;
}

.remove-ic {
  width: 12px;
  position: absolute;
  right: -8px;
  top: -8px;
}
.remove-ic:hover {
  cursor: pointer;
}
.owned-total {
  margin-left: 10px;
  margin-bottom: 20px;
}


/* ========================================== 
 Pokemon Detail
============================================*/

@-webkit-keyframes arrow_move {
  0% {
    opacity: 1;
    top: -48px; }
  50% {
    opacity: 0;
    top: -24px; }
  90% {
    opacity: 0;
    top: -48px; }
  100% {
    opacity: 1;
    top: -48px; } 
}
@keyframes arrow_move {
  0% {
    opacity: 1;
    top: -48px; }
  50% {
    opacity: 0;
    top: -24px; }
  90% {
    opacity: 0;
    top: -48px; }
  100% {
    opacity: 1;
    top: -48px; } 
}

.btn-catch {
  width: 200px;
}

.catch-me {
  position: relative;
  margin-top: 80px;
}
.catch-me img {
  width: 80px;
}
.catch-me img:hover {
  transform: rotate(30deg);
  cursor: pointer;
}
.back-link {
  position: relative;
  padding-left: 16px;
  text-decoration: none;
}

.back-link img {
  position: absolute;
  left: 0px;
  width: 12px;
  top: 2px;
}

.back-link:hover img {
  left: -4px;
}

.catch-me .label {
  position: absolute;
  top: -50px;
  display: inline-block;
  -webkit-animation: arrow_move 1s linear;
  animation: arrow_move 1s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* ========================================== 
 Components
============================================*/

/* Modal Popup
-------------------------------------*/
.scroll-locked {
  overflow: hidden; 
}
.overlay-modal {
  background: rgba(0,0,0,0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}
.modal-content {
  background: #fff;
  min-height: 200px;
  width: 280px;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.6);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.close-modal {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
}
.close-modal:hover {
  cursor: pointer;
}
.modal-content input {
  margin-top: 12px;
}
.form-control {
  width: -webkit-fill-available;
  width: fill-available;
  padding: .25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:active, .form-control:hover, .form-control:focus {
  outline: none;
}
@media (min-width: 380px) {
  .modal-content {
    width: 300px;
  }
}
/* Empty Component
-------------------------------------*/
.empty-component {
  text-align: center;
}
.sad-face {
  width: 80px;
  display: block;
  margin: auto;
}
@media (min-width: 768px) {
  .sad-face {
    width: 120px;
  }
}







